.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.blink {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.Board {
  font-size: 48px;
  background-color: blue;
  display: inline-block;
  border-radius: 3%;
  padding: 1%;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .5);
}

.EndGame {
  font-size: 48px;
}

.EndGame button {
  opacity: 100%;
  cursor: pointer;
}

.EndGame button:disabled {
  display:none;
}

.Game {
  width: 100%;
}

.Restart {
  cursor: pointer;
  margin-bottom: 1%;
}

.Restart:disabled {
  display: none;
}

.ScoreBoard {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  margin-bottom: 12%;
  /* border: 1px solid gray; */
}

.🔴 {
  box-shadow: 0px 24px 32px -10px rgb(255 0 0 / 30%);
}

.🟡 {
  box-shadow: 0px 24px 32px -10px rgb(255 255 0 / 30%);
}


.Winner.🔴 {
  box-shadow: 0px 24px 32px -10px rgb(255 0 0 / 30%);
}

.Winner.🟡 {
  box-shadow: 0px 24px 32px -10px rgb(255 255 0 / 30%);
}

button {
  font-size: 36px;
  opacity: 20%;
  cursor: grab;
  background-color: white;
  border-radius: 6px;
}

body {
  background: url('https://wallpaperaccess.com/full/20630.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}
button:disabled:hover {
  cursor: not-allowed;
}
button:hover {
  opacity: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 769px) {
  .Buttons {
    flex-basis: 
  }
  .Board {

  }
}
@media only screen and (max-width: 768px) {
  .button {
    padding: 8px 16px;
    font-size: 14px;
  }
}