.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Board {
  font-size: 40px;
  background-color: blue;
  display: inline-block;
  border-radius: 3%;
  padding: 1%;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, .8);
}


.Game {
  width: 100%;
}

.Restart {
  cursor: pointer;
}

.Restart:disabled {
  display: none;
}

button {
  font-size: 36px;
  opacity: 20%;
  cursor: grab;
  background-color: white;
}

body {
  background: url('https://wallpaperaccess.com/full/20630.jpg');
  background-size: auto;
  background-repeat: no-repeat;
}
button:disabled:hover {
  cursor: not-allowed;
}
button:hover {
  opacity: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
